


body {
  background: #FF69B4; /* For browsers that do not support gradients */
  width: 100%;
  height: 700px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

.currently-playing {
  font-size: 20px;
}

h1 {
  margin-bottom: : 0;
  padding: none;
  font-size: 50px;
  font-weight: 200;
}



audio {
  width : 75%;
}

.song-player {
  margin: 0 auto;
  background: rgba(54, 25, 25, .5);
  width: 50%;
  height: 70%;
  padding: 20px 0 20px 0;

}

.song-player img {
  width: 30%;
  height: 30%;

}

.song-queue {
  position: relative;
  display: inline-block;
  float: center;
}

.songs-in-queue {
  margin: 0 auto;
  text-align: left;
  height: 75px;
  width: 1000px;
  background: #fcfff4; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}

.songs-in-queue img {
  display: inline-block;
  height: 75px;
  margin: 0 20px 0 0;
  border-radius: 5px;
}

.songs-in-queue p {
  position: relative;
  top: -50%;
  display: inline-block;
  margin: 0;
  font-size: 17px;
}

.login-box {
  position: absolute;
  top: 0;
  right: 0;
}
.login-box button {
  width: 150px;
  height: 30px;
  font-size: 16px;
}
.loginFormWrap
.registerFormWrap {
  width: 300px;
}
#login-button,
.loginFormWrap {
  background-color: purple;
}
#register-button,
.registerFormWrap {
  background-color: yellow;

.songSearchBtn {
  background-color: black;
  color: white;
  height: 50px;
  width: 150px;
  border: 5px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 35px;
}

.searchbar {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  font-size: 30px;
}

.searchform {
  
}
