body {
  background: #FF69B4; /* For browsers that do not support gradients */
  background-image: url("http://bookthatdj.com/wp-content/uploads/2014/01/dj1u1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  text-align: center;
  text-transform: lowercase;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

.currently-playing {
  font-size: 20px;
  color: white;
}

h1 {
  margin-bottom: : 0;
  padding: none;
  font-size: 70px;
  font-weight: 200;
  color: white;
}

#tagline {
  color: white;
  font-size: 20px;
}

audio {
  width : 75%;
}

.song-player {
  margin: 0 auto;
  background: rgba(54, 25, 25, .5);
  width: 50%;
  height: 70%;
  padding: 20px 0 20px 0;

}

.song-player img {
  width: 30%;
  height: 30%;

}

.song-queue {
  position: relative;
  display: inline-block;
  float: center;
}

.songs-in-queue {
  margin: 0 auto;
  text-align: left;
  height: 75px;
  width: 1000px;
  background: #fcfff4; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}

.songs-in-queue img {
  display: inline-block;
  height: 75px;
  margin: 0 20px 0 0;
  border-radius: 5px;
}

.songs-in-queue p {
  position: relative;
  top: -50%;
  display: inline-block;
  margin: 0;
  font-size: 17px;
}

.login-box {
  position: absolute;
  top: 0;
  right: 0;
}
.login-box button {
  width: 150px;
  height: 30px;
  font-size: 16px;
}
.loginFormWrap
.registerFormWrap {
  width: 300px;
}
#login-button,
.loginFormWrap {
  background-color: black;
  color: white;
}
#register-button,
.registerFormWrap {
  background-color: white;
}

.songSearchBtn {

  background-color: black;
  color: white;
  height: 50px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 25px;
  position: absolute;
  top: 150px;
  left: 65%;

}

.searchbar {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  font-size: 40px;
  text-align: center;
  outline: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

.searchform {
  padding-top: 20px;
  position: absolute;
  top: 20px;
  left: 300px;
  height: 400px;
  width: 700px;
  background-color: gray;
  border-radius: 5px;
  opacity: .9;
  border: 5px solid black;
  overflow: scroll;
}

.closeSearchBox {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 55px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: black;
}

.addSongToPlaylistBtn {
  margin-right: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.songResults {
  padding-top: 10px;
  font-size: 22px;
  color: white;
  font-family: helvetica;
  text-align: left;
}

.singleSongResult {
  margin-top: 15px;
}

.userCountTitle {
  color: white;
  position: absolute;
  top: 0px;
  left: 5px;
}

.userCountNum {
  position: absolute;
  top: 15px;
  left: 15px;
  color: white;
}
